sql_server=localhost\SQLEXPRESS
sql_database=poc_bot_facturas
sql_username=
sql_password=
sql_driver=SQL Server
sql_trusted_connection=true
sql_trust_server_certificate=true
selenium_headless=false
smtp_server=smtp.gmail.com
smtp_port=587
smtp_username=
smtp_password=
