sql_server=localhost,1433
sql_database=poc_bot_facturas
sql_schema_configuracion=configuracion
sql_schema_operacion=operacion
sql_username=sa
sql_password=SqlServer2026*
sql_driver=SQL Server
sql_trusted_connection=false
sql_trust_server_certificate=true
selenium_headless=false
smtp_server=smtp.gmail.com
smtp_port=587
smtp_username=
smtp_password=
