sql_server=localhost,1433
sql_database=poc_bot_facturas
sql_schema_configuracion=configuracion
sql_schema_operacion=operacion
sql_username=bot_facturas_app
sql_password=definir_en_entorno_local
sql_admin_username=sa
sql_admin_password=definir_en_entorno_local
sql_driver=SQL Server
sql_trusted_connection=false
sql_trust_server_certificate=true
selenium_headless=false
descarga_tamanio_maximo_mb=100
zip_archivos_maximos=10000
zip_tamanio_extraido_maximo_mb=500
zip_ratio_compresion_maximo=200
smtp_server=smtp.gmail.com
smtp_port=587
smtp_username=
smtp_password=
